@font-face {
	font-family: "Manrope";
	src: url("../assets/fonts/Manrope-Regular.woff");
}

@font-face {
	font-family: "Manrope";
	src: url("../assets/fonts/Manrope-Medium.woff");
	font-weight: 500;
}

@font-face {
	font-family: "Manrope";
	src: url("../assets/fonts/Manrope-Bold.woff");
	font-weight: 700;
}

@font-face {
	font-family: "Roboto";
	src: url("../assets/fonts/Roboto-Medium.woff");
	font-weight: 500;
}

@font-face {
	font-family: "Roboto";
	src: url("../assets/fonts/Roboto-Bold.woff");
	font-weight: 700;
}