<footer class="footer">
	<div class="footer-flex">
		<a href="#" class="logo">
			<img src="assets/images/sprite.svg#logo_white" alt="лого">
		</a>
		<nav class="footer-nav">
			<ul class="nav-list">
				<li class="nav-list__item active">
					<button class="about-link-js lng-footer-nav-about">о нас</button>
				</li>
				<li class="nav-list__item">
					<button class="advantages-link-js lng-footer-nav-advantages">Преимущества</button>
				</li>
				<li class="nav-list__item">
					<button class="services-link-js lng-footer-nav-services">Услуги</button>
				</li>
				<li class="nav-list__item">
					<button class="partners-link-js lng-footer-nav-partners">Партнеры</button>
				</li>
				<li class="nav-list__item">
					<button class="team-link-js lng-footer-nav-team">команда</button>
				</li>
				<li class="nav-list__item">
					<button class="contacts-link-js lng-footer-nav-contacts">контакты</button>
				</li>
			</ul>
		</nav>
	</div>
	<div class="footer-flex">
		<div class="footer-lang-button__container">
			<button class="change-lang ru">ru</button>
			<button class="change-lang en">en</button>
		</div>
		<div class="footer-social">
			<a href="">
				<img src="assets/images/sprite.svg#whatsapp_white" alt="whatsapp">
			</a>
			<a href="">
				<img src="assets/images/sprite.svg#telegram_white" alt="telegram">
			</a>
			<a href="">
				<img src="assets/images/sprite.svg#mail_white" alt="mail">
			</a>
		</div>
	</div>
</footer>