<footer class="footer">
	<div class="footer-flex">
		<a href="#" class="logo">
			<img src="assets/images/sprite.svg#logo_white" alt="лого">
		</a>
		<nav class="footer-nav">
			<ul class="nav-list">
				<li class="nav-list__item active">
					<a href="">о нас</a>
				</li>
				<li class="nav-list__item">
					<a href="">Преимущества</a>
				</li>
				<li class="nav-list__item">
					<a href="">Услуги</a>
				</li>
				<li class="nav-list__item">
					<a href="">Партнеры</a>
				</li>
				<li class="nav-list__item">
					<a href="">команда</a>
				</li>
				<li class="nav-list__item">
					<a href="">контакты</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="footer-flex">
		<div class="footer-lang-button__container">
			<button class="active">ru</button>
			<button>en</button>
		</div>
		<div class="footer-social">
			<a href="">
				<img src="assets/images/sprite.svg#whatsapp_white" alt="whatsapp">
			</a>
			<a href="">
				<img src="assets/images/sprite.svg#telegram_white" alt="telegram">
			</a>
			<a href="">
				<img src="assets/images/sprite.svg#mail_white" alt="mail">
			</a>
		</div>
	</div>
</footer>