<header class="header">
	<div class="header-flex">
		<a href="#" class="logo">
			<img src="assets/images/sprite.svg#logo" alt="лого">
		</a>
		<nav class="header-nav">
			<ul class="nav-list">
				<li class="nav-list__item active">
					<button class="about-link-js lng-nav-about">о нас</button>
				</li>
				<li class="nav-list__item">
					<button class="advantages-link-js lng-nav-advantages">Преимущества</button>
				</li>
				<li class="nav-list__item">
					<button class="services-link-js lng-nav-services">Услуги</button>
				</li>
				<li class="nav-list__item">
					<button class="partners-link-js lng-nav-partners">Партнеры</button>
				</li>
				<li class="nav-list__item">
					<button class="team-link-js lng-nav-team">команда</button>
				</li>
				<li class="nav-list__item">
					<button class="contacts-link-js lng-nav-contacts">контакты</button>
				</li>
			</ul>
		</nav>
	</div>
	<div class="header-flex">
		<div class="header-lang-button__container">
			<button class="change-lang ru">ru</button>
			<button class="change-lang en">en</button>
		</div>
		<div class="header-social">
			<a href="">
				<img src="assets/images/sprite.svg#whatsapp_blue" alt="whatsapp">
			</a>
			<a href="">
				<img src="assets/images/sprite.svg#telegram_blue" alt="telegram">
			</a>
			<a href="">
				<img src="assets/images/sprite.svg#mail_blue" alt="mail">
			</a>
		</div>
		
	</div>
	<div class="burger-menu">
		<div class="burger-top">
			<a href="#" class="logo">
				<img src="assets/images/sprite.svg#logo" alt="лого">
			</a>

			<div class="burger-menu-cross-js cross">
				<span></span>
			</div>
		</div>

		<div class="burger-main">
			<div class="burger-nav">
				<ul class="nav-list">
					<li class="nav-list__item active">
						<a href="#about" class="about-burger-js lng-burger-nav-about">о нас</a>
					</li>
					<li class="nav-list__item">
						<a href="#advantages" class="advantages-burger-js lng-burger-nav-advantages">Преимущества</a>
					</li>
					<li class="nav-list__item">
						<a href="#services" class="services-burger-js lng-burger-nav-services">Услуги</a>
					</li>
					<li class="nav-list__item">
						<a href="#partners" class="partners-burger-js lng-burger-nav-partners">Партнеры</a>
					</li>
					<li class="nav-list__item">
						<a href="#team" class="team-burger-js lng-burger-nav-team">команда</a>
					</li>
					<li class="nav-list__item">
						<a href="#contacts" class="contacts-burger-js lng-burger-nav-contacts">контакты</a>
					</li>
				</ul>
			</div>
			<div class="burger-lang-button__container">
				<button class="change-lang ru">ru</button>
				<button class="change-lang en">en</button>
			</div>
			<div class="burger-social">
				<a href="">
					<img src="assets/images/sprite.svg#whatsapp_blue" alt="whatsapp">
				</a>
				<a href="">
					<img src="assets/images/sprite.svg#telegram_blue" alt="telegram">
				</a>
				<a href="">
					<img src="assets/images/sprite.svg#mail_blue" alt="mail">
				</a>
			</div>
		</div>
	</div>
	<div class="burger-menu-button">
		<span></span>
	</div>
</header>