<header class="header">
	<div class="header-flex">
		<a href="#" class="logo">
			<img src="assets/images/sprite.svg#logo" alt="лого">
		</a>
		<nav class="header-nav">
			<ul class="nav-list">
				<li class="nav-list__item active">
					<a href="">о нас</a>
				</li>
				<li class="nav-list__item">
					<a href="">Преимущества</a>
				</li>
				<li class="nav-list__item">
					<a href="">Услуги</a>
				</li>
				<li class="nav-list__item">
					<a href="">Партнеры</a>
				</li>
				<li class="nav-list__item">
					<a href="">команда</a>
				</li>
				<li class="nav-list__item">
					<a href="">контакты</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="header-flex">
		<div class="header-lang-button__container">
			<button class="active">ru</button>
			<button>en</button>
		</div>
		<div class="header-social">
			<a href="">
				<img src="assets/images/sprite.svg#whatsapp_blue" alt="whatsapp">
			</a>
			<a href="">
				<img src="assets/images/sprite.svg#telegram_blue" alt="telegram">
			</a>
			<a href="">
				<img src="assets/images/sprite.svg#mail_blue" alt="mail">
			</a>
		</div>
		
	</div>
	<div class="burger-menu">
		<div class="burger-top">
			<a href="#" class="logo">
				<img src="assets/images/sprite.svg#logo" alt="лого">
			</a>

			<div class="cross">
				<span></span>
			</div>
		</div>

		<div class="burger-main">
			<div class="burger-nav">
				<ul class="nav-list">
					<li class="nav-list__item active">
						<a href="">о нас</a>
					</li>
					<li class="nav-list__item">
						<a href="">Преимущества</a>
					</li>
					<li class="nav-list__item">
						<a href="">Услуги</a>
					</li>
					<li class="nav-list__item">
						<a href="">Партнеры</a>
					</li>
					<li class="nav-list__item">
						<a href="">команда</a>
					</li>
					<li class="nav-list__item">
						<a href="">контакты</a>
					</li>
				</ul>
			</div>
			<div class="burger-lang-button__container">
				<button class="active">ru</button>
				<button>en</button>
			</div>
			<div class="burger-social">
				<a href="">
					<img src="assets/images/sprite.svg#whatsapp_blue" alt="whatsapp">
				</a>
				<a href="">
					<img src="assets/images/sprite.svg#telegram_blue" alt="telegram">
				</a>
				<a href="">
					<img src="assets/images/sprite.svg#mail_blue" alt="mail">
				</a>
			</div>
		</div>
	</div>
	<div class="burger-menu-button">
		<span></span>
	</div>
</header>