<main class="main">
	<section class="about">
		<div class="container">
			<h1 class="title">Консалтинговая компания AEQ</h1>
			<div class="about-flex">
				<p class="text">
					Помогаем инвестиционным фондам,<br>бизнесу и частным лицам сохранять<br>и приумножать активы.
				</p>
				<p class="text">
					Наш международный опыт и многолетняя экспертиза в управлении <br>активами, консалтинге, юриспруденции и финансах помогут <br>трансформировать ваш бизнес своевременно и комфортно. Мы гордимся<br>репутацией честного, компетентного и стабильного партнёра.
				</p>
			</div>
			<button class="btn">Подробнее</button>
			<div class="arrow-down">
				<span></span>
			</div>
		</div>
	</section>
	<section class="advantages">
		<div class="container">
			<h2 class="title">Преимущества</h2>
			<div class="advantages-flex">
				<div class="advantages-flex__item">
					<img src="assets/images/solution.png" alt="solution">
					<p class="text">Простое и актуальное <br>решение задач</p>
				</div>
				<div class="advantages-flex__item">
					<img src="assets/images/security.png" alt="solution">
					<p class="text">Конфиденциальность <br>и индивидуальный подход</p>
				</div>
				<div class="advantages-flex__item">
					<img src="assets/images/expertise.png" alt="solution">
					<p class="text">Международная экспертиза <br>и высокие стандарты</p>
				</div>
			</div>
		</div>
	</section>
	<section class="services">
		<div class="container">
			<h2 class="title">Услуги</h2>
			<p class="subtitle">Решение сложных задач.<br><span>Просто.</span></p>
			<p class="text">Независимая команда с многолетним опытом<br>в управлении активами, консалтинге и финансах<br>подберёт подходящее вам решение.</p>
			<div class="services-flex">
				<div class="services-flex__item-image">
					<img src="assets/images/folder.png" alt="">
				</div>
				<div class="services-flex__item">
					<h3 class="title">Управление активами:</h3>
					<ul class="services-flex__item-list">
						<li class="services-flex__item-list-item">управление фондами</li>
						<li class="services-flex__item-list-item">консультирование по вопросам стратегии развития бизнеса</li>
						<li class="services-flex__item-list-item">структурирование владения активами и корпоративного управления</li>
						<li class="services-flex__item-list-item">планирование наследования</li>
					</ul>
				</div>
			</div>
			<div class="services-flex services-flex-reverse">
				<div class="services-flex__item">
					<h3 class="title">Управление инвестициями:</h3>
					<ul class="services-flex__item-list">
						<li class="services-flex__item-list-item">разработка и анализ персональных инвестиционных стратегий</li>
						<li class="services-flex__item-list-item">организация финансирования</li>
						<li class="services-flex__item-list-item">консультирование по прямым инвестициям в бизнес и недвижимость</li>
					</ul>
				</div>
				<div class="services-flex__item-image">
					<img src="assets/images/safe.png" alt="">
				</div>
			</div>
			<div class="services-flex">
				<div class="services-flex__item-image">
					<img src="assets/images/law.png" alt="">
				</div>
				<div class="services-flex__item">
					<h3 class="title">Юридические и финансовые услуги:</h3>
					<ul class="services-flex__item-list">
						<li class="services-flex__item-list-item">комплексное юридическое сопровождение юридических и физических лиц (включая сопровождение крупных M&A сделок)</li>
						<li class="services-flex__item-list-item">финансовое планирование</li>
						<li class="services-flex__item-list-item">ведение консолидированной отчетности по всем активам</li>
					</ul>
				</div>
			</div>
			<div class="services-contact-us">
				<p class="text">Связаться с нами</p>
				<button class="btn">Связаться</button>
			</div>
		</div>
	</section>
	<section class="partners">
		<div class="container">
			<h2 class="title">Партнеры</h2>
			<div class="partners-flex">
				<div class="partners__item">
					<img src="assets/images/pareto-print.png" alt="Парето-Принт">
				</div>
				<div class="partners__item">
					<img src="assets/images/azbuka.png" alt="Азбука">
				</div>
				<div class="partners__item">
					<img src="assets/images/mozaik.png" alt="Мозаик">
				</div>
				<div class="partners__item">
					<img src="assets/images/strelka.png" alt="Стрелка">
				</div>
				<div class="partners__item">
					<img src="assets/images/cinema_pioner.png" alt="Кинотеатр пионер">
				</div>
				<div class="partners__item">
					<img src="assets/images/cinema_park.png" alt="Кино синема">
				</div>
			</div>
		</div>
	</section>
	<section class="team">
		<div class="container">
			<h2 class="title">Команда</h2>
			<div class="team-flex">
				<div class="team-flex__item">
					<img src="assets/images/team_member.png" alt="Виктор Самойлов" class="team-flex__img">
					<h3 class="subtitle">Виктор<br>Самойлов</h3>
					<p class="text">Управляющий партнер компании AEQ</p>
				</div>
				<div class="team-flex__item">
					<img src="assets/images/team_member.png" alt="Виктор Самойлов" class="team-flex__img">
					<h3 class="subtitle">Виктор<br>Самойлов</h3>
					<p class="text">Управляющий партнер компании AEQ</p>
				</div>
				<div class="team-flex__item">
					<img src="assets/images/team_member.png" alt="Виктор Самойлов" class="team-flex__img">
					<h3 class="subtitle">Виктор<br>Самойлов</h3>
					<p class="text">Управляющий партнер компании AEQ</p>
				</div>
				<div class="team-flex__item">
					<img src="assets/images/team_member.png" alt="Виктор Самойлов" class="team-flex__img">
					<h3 class="subtitle">Виктор<br>Самойлов</h3>
					<p class="text">Управляющий партнер компании AEQ</p>
				</div>
				<div class="team-flex__item">
					<img src="assets/images/team_member.png" alt="Виктор Самойлов" class="team-flex__img">
					<h3 class="subtitle">Виктор<br>Самойлов</h3>
					<p class="text">Управляющий партнер компании AEQ</p>
				</div>
				<div class="team-flex__item">
					<img src="assets/images/team_member.png" alt="Виктор Самойлов" class="team-flex__img">
					<h3 class="subtitle">Виктор<br>Самойлов</h3>
					<p class="text">Управляющий партнер компании AEQ</p>
				</div>
			</div>
		</div>
	</section>
	<section class="contacts">
		<div class="container">
			<h2 class="title">Контакты</h2>
		</div>
		<!-- static map -->
		<div class="contacts-data">
			<div class="contacts-data-flex">
				<img src="assets/images/sprite.svg#location" alt="location" class="contacts-data__img">
				<p class="text">123111, Москва, Оружейная наб., 6с2</p>
			</div>
			<div class="contacts-data-flex">
				<img src="assets/images/sprite.svg#phone" alt="phone" class="contacts-data__img">
				<a href="tel:+79153333333" class="text">+7 915 333 33 33</a>
			</div>
			<div class="contacts-data-flex">
				<img src="assets/images/sprite.svg#phone" alt="phone" class="contacts-data__img">
				<a href="hello@mail.group" class="text">hello@mail.group</a>
			</div>
			<div class="contacts-data-flex">
				<img src="assets/images/sprite.svg#social" alt="phone" class="contacts-data__img">
				<div class="contacts-data-flex__item">
					<a href="">
						<img src="assets/images/sprite.svg#whatsapp_black" alt="whatsapp">
					</a>
					<a href="">
						<img src="assets/images/sprite.svg#telegram_black" alt="telegram">
					</a>
				</div>
			</div>
		</div>
	</section>
</main>