<div class="modal-background"></div>
<div class="modal-form">
	<div class="modal-form-flex">
		<h2 class="title">Заказать <span>консультацию</span></h2>
		<div class="cross">
			<span></span>
		</div>
	</div>
	<form action="#" class="form">
		<div class="form-flex">
			<div class="form__input">
				<label for="form-name">Ваше имя*</label>
				<input type="text" placeholder="Введите имя" name="name" id="form-name">
			</div>
			<div class="form__input">
				<label for="form-e-mail">Ваш e-mail*</label>
				<input type="email" placeholder="Введите e-mail" name="e-mail" id="form-e-mail">
			</div>
			<div class="form__input">
				<label for="form-phone">Ваш телефон</label>
				<input type="tel" placeholder="Введите телефон" name="phone" id="form-phone">
			</div>
			<div class="form__input">
				<label for="form-question">Ваш вопрос</label>
				<textarea name="question" id="form-question"></textarea>
			</div>
		</div>
		<div class="form-checkbox">
			<label class="checkbox">
				<input type="checkbox" checked class="real-checkbox">
				<span class="custom-checkbox"></span>
				<span class="text">
					Я согласен на сбор персональных данных
				</span>
			</label>
		</div>
		<p class="text">* - поля, обязательные к заполнению</p>
		<button type="submit" class="btn form-submit">Заказать</button>
	</form>
</div>