<div class="modal-background"></div>
<div class="modal-form">
	<div class="modal-form-flex">
		<h2 class="title lng-modal-form-title">Заказать <span>консультацию</span></h2>
		<div class="cross modal-form-cross-js">
			<span></span>
		</div>
	</div>
	<form action="#" class="form">
		<div class="form-flex">
			<div class="form__input">
				<label for="form-name" class="lng-modal-form-text1">Ваше имя*</label>
				<input type="text" name="name" id="form-name">
			</div>
			<div class="form__input">
				<label for="form-e-mail" class="lng-modal-form-text2">Ваш e-mail*</label>
				<input type="email" name="e-mail" id="form-e-mail">
			</div>
			<div class="form__input">
				<label for="form-phone" class="lng-modal-form-text3">Ваш телефон</label>
				<input type="tel" name="phone" id="form-phone">
			</div>
			<div class="form__input">
				<label for="form-question" class="lng-modal-form-text4">Ваш вопрос</label>
				<textarea name="question" id="form-question"></textarea>
			</div>
		</div>
		<div class="form-checkbox">
			<label class="checkbox">
				<input type="checkbox" checked class="real-checkbox">
				<span class="custom-checkbox"></span>
				<span class="text lng-modal-form-text5">
					Я согласен на сбор персональных данных
				</span>
			</label>
		</div>
		<p class="text lng-modal-form-text6">* - поля, обязательные к заполнению</p>
		<button type="submit" class="btn form-submit lng-modal-form-text7">Заказать</button>
	</form>
</div>